{% extends "base_template.html" %}

{% block content %}
    <h1>Player - "{{ player.player_name }}"</h1>
    <table>
        <tbody>
        <tr>
            <td>Email</td>
            <td>{{ player.player_email }}</td>
        </tr>
        </tbody>
    </table>
    <h2>Predictions</h2>
    {% if not history %}
        No predictions found.
    {% else %}
        <table>
            <thead>
            <tr>
                <th>Race</th>
                <th>First</th>
                <th>Second</th>
                <th>Third</th>
                <th>Tier</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            {% for race in history %}
                <tr>
                    <td>
                        <a href="/predictions/view/{{ race.race.race_season }}/{{ race.race.race_cup }}/{{ race.race.race_name }}">
                            {{ race.race.race_name }}
                        </a>
                    </td>
                    <td>{{ race.prediction1 }}</td>
                    <td>{{ race.prediction2 }}</td>
                    <td>{{ race.prediction3 }}</td>
                    <td>{{ race.tier }}</td>
                    <td>{{ race.score }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
