{% extends "base_template.html" %}

{% block content %}
    <h1>Predict for {{ season }}: {{ cup }} - {{ race }}</h1>
    <div class="form_container">
        <form action="/predictions/predict/{{ season }}/{{ cup }}/{{ race }}" method="POST">
            <label>Name</label><br>
            {{ form.player_name }}<br>

            <label>First</label><br>
            <select name="prediction_1">
                <option selected="selected" value="Not Chosen"></option>
                {% for racer in racers %}
                    <option value="{{ racer }}">{{ racer }}</option>
                {% endfor %}
            </select><br>

            <label>Second</label><br>
            <select name="prediction_2">
                <option selected="selected" value="Not Chosen"></option>
                {% for racer in racers %}
                    <option value="{{ racer }}">{{ racer }}</option>
                {% endfor %}
            </select><br>

            <label>Third<br></label>
            <select name="prediction_3">
                <option selected="selected" value="Not Chosen"></option>
                {% for racer in racers %}
                    <option value="{{ racer }}">{{ racer }}</option>
                {% endfor %}
            </select><br>
            <button type="submit">Submit Predictions</button>
        </form>
    </div>
{% endblock %}
