{% extends "base_template.html" %}

{% block content %}
    <h1>Race List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Info</th>
        <tbody>
        {% for race in races %}
            <tr>
                <!-- Race Details -->
                <td>{{ race.race_name }}</td>
                <td>{{ race.race_date }}</td>

                <!-- Scores or Prediction Link -->
                {% if race.finished %}
                    <td><a href="/results/{{ race.race_name }}">Results</a></td>
                {% else %}
                    <td><a href="/predictions/predict/{{ race.race_name }}">Prediction</a></td>
                {% endif %}

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
